<%- include('partials/header.ejs')  %> 
<body class="container-fluid">
    <h1>Data Entry for Images</h1>
    <form action="setImageData" method="POST">
        <label for="imageName">Name of Image</label>
        <input type="text" name="imageName" id="imageName">
            <div class="row text-uppercase">
                <div class="card-columns"></div>
                    <% for(attr in keywords){%>
                        <div class="card col-lg-3 my-3 mx-5" >
                            <div class="card-body">
                                <h5 class="card-title text-center"><%= attr %></h5>
                                <% keywords[attr].forEach(data => { %>
                                    <div class="col">
                                        <input
                                            class=<%= data.class %>
                                            type=<%= data.type %> 
                                            name=<%= data.name %> 
                                            value=<%= data.value %> 
                                            id=<%= data.id %> 
                                        />
                                        <label 
                                            class=<%= data.classLabel %>  
                                            for=<%= data.for %>>
                                            <%= data.content %> 
                                        </label>
                                    </div>
                                    
                                <% }) %>
                            </div>
                        </div>
                    <% } %>
                </div>
        </div>
    </form>
</body>

